<div class="inline-items-container">
  <div class="mainContainer">
    <mat-list role = "list">
      <mat-list-item role="listitem">
    <div>
      <mat-form-field>
        <mat-select placeholder="Preparation"
                    [(ngModel)]="ChosenPreparation">
          <mat-option *ngFor="let preparation of preparations"
                      [value]="preparation.name"
                      >
            {{ preparation.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
      </mat-list-item>
      <mat-list-item role="listitem">
        <div>
          <mat-form-field>
            <mat-select placeholder="Analysis"
                        [(ngModel)]="ChosenAnalysis">
              <mat-option *ngFor="let analysis of AnalysisToChoose"
                          [value]="analysis.value">
                {{ analysis.display }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-list-item>
      <mat-list-item role="listitem">
        <div>
              <input type="text" placeholder="Analysis name" [(ngModel)]="AnalysisName">
        </div>
      </mat-list-item>
      <mat-list-item role="listitem">
        <div>
        <button mat-raised-button color="basic" (click)="save(ChosenPreparation)">Submit</button>
        </div>
      </mat-list-item>
    </mat-list>
  </div>

  <div class="optionsContainer">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Advanced Options
        </mat-panel-title>
        <mat-panel-description>
          Customize your analysis
        </mat-panel-description>
      </mat-expansion-panel-header>

        <mat-list role = "list">
          <mat-list-item role="listitem">
          <mat-checkbox [(ngModel)]="UseLevels">Check to use level</mat-checkbox>
          </mat-list-item>
          <mat-divider></mat-divider>

          <mat-list-item role="listitem">Level</mat-list-item>
          <mat-slider
            [disabled]="!UseLevels"
            class="slider"
            [(ngModel)]="Level"
            showTicks="true"
            min="0"
            max="100"
            step="1"
            vertical="false"
            thumb-label="true"
            tick-interval="true">
          </mat-slider>
          <mat-divider></mat-divider>

          <mat-list-item role="listitem">MaxK</mat-list-item>
          <mat-slider
            class="slider"
            [(ngModel)]="MaxK"
            showTicks="true"
            min="2"
            max="20"
            step="1"
            vertical="false"
            thumb-label="true"
            tick-interval="true">
          </mat-slider>
          <mat-divider></mat-divider>

          <mat-list-item role="listitem">Percent Size Limit</mat-list-item>
          <mat-slider
            class="slider"
            [(ngModel)]="PercentSizeLimit"
            showTicks="true"
            min="0"
            max="1"
            step="0.01"
            vertical="false"
            thumb-label="true"
            tick-interval="true">
          </mat-slider>
          <mat-divider></mat-divider>

          <mat-list-item role="listitem">Feature Preservation Limit</mat-list-item>
          <mat-slider
            class="slider"
            [(ngModel)]="FeaturePreservationLimit"
            showTicks="true"
            min="0"
            max="1"
            step="0.01"
            vertical="false"
            thumb-label="true"
            tick-interval="true">
          </mat-slider>
          <mat-divider></mat-divider>

          <form>
            <mat-form-field>
              <mat-select placeholder="Metric"
                          [(value)]="ChosenMetric">
                <mat-option *ngFor="let metric of Metric"
                            [value]="metric">
                  {{ metric }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </form>
          <mat-divider></mat-divider>

          <mat-list-item role="listitem">Max components for decomposition</mat-list-item>
          <mat-slider
            class="slider"
            [(ngModel)]="MaxComponentsForDecomposition"
            showTicks="true"
            min="0"
            max="15"
            step="1"
            vertical="false"
            thumb-label="true"
            tick-interval="true">
          </mat-slider>
          <mat-divider></mat-divider>

          <mat-list-item role="listitem">KMeans maximum no. of iterations</mat-list-item>
          <mat-slider
            class="slider"
            [(ngModel)]="KMeansMaxIters"
            showTicks="true"
            min="0"
            max="1000"
            step="1"
            vertical="false"
            thumb-label="true"
            tick-interval="true">
          </mat-slider>
          <mat-divider></mat-divider>

        </mat-list>
    </mat-expansion-panel>
  </div>

</div>
