mat-card {
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

mat-card-content {
    text-align: right;
}

.mat-fab {
    position: fixed;
    right: 30px;
    bottom: 30px;
    background-color: #F69736;
}
