.slider
{
  width: 600px;
}

.slider-x
{
  width: 435px;
  margin-left: 118px;
}

.slider-y
{
  height: 435px;
  margin-top: 93px;
}

.column-item-position
{
  display: flex;
  flex-direction: column;
  margin-left: 67px;
}

.inline-items-container
{
  display: flex;
  justify-content: flex-start;
}

.md-button
{
  width: 200px;
}

.fa-bar-chart
{
  color: #F69736;
}
