<p>
  preparation {{id}} works!
</p>
<label>Mz:</label>

<input [(ngModel)]="mzValue" type="number"/>

<md-slider class="slider" [(ngModel)]="currentChannelId" showTicks="true" min="0" max={{mzLenth}} step="1" (input)="onInputChannelId($event)"
           (change)="onChangedChannelId($event)" vertical="false" thumb-label="true" tick-interval="true"></md-slider>

<app-heatmap
  [heatmapData]=heatmapData>
</app-heatmap>

<app-spectrum
  [spectrumData]=spectrumData>
</app-spectrum>

<app-divik></app-divik>


