<p-growl [(value)]="msgs"></p-growl>
<block-ui [template]="blockTemplate">
<div id="mainContainer" class="mainContainer">
  <div id="tabsManu">
    <p-tabView>
      <p-tabPanel header="Heatmap & Spectrum" leftIcon="fa-thermometer (alias)" rightIcon="fa-bar-chart" [headerStyle]="{'width': '195px', 'margin':'0 auto'}">
        <div>
          <md-slider
            class="slider-x"
            [(ngModel)]="xCoordinate"
            showTicks="true"
            min="0"
            max={{xHeatmapSize}}
            step="1"
            vertical="false"
            thumb-label="true"
            tick-interval="true"
            (change)="onChangedXCoordinate($event)">
          </md-slider>

          <div class="inline-items-container">
            <md-slider
              class="slider-y"
              [(ngModel)]="yCoordinate"
              showTicks="true"
              min="0"
              max={{yHeatmapSize}}
              step="1"
              vertical="true"
              thumb-label="true"
              tick-interval="true"
              (change)="onChangedYCoordinate($event)">
            </md-slider>
            <app-heatmap
              [heatmapData]=heatmapData>
            </app-heatmap>
          </div>
        </div>

        <div class="column-item-position">
          <form>
            <md-select placeholder="Color" [(ngModel)]="selectedValue" name="color" (change)="changeColor()">
              <md-option *ngFor="let color of colors" [value]="color.value" selected="$first">
                {{color.value}}
              </md-option>
            </md-select>
          </form>
          <md-form-field class="example-full-width">
            <input mdInput placeholder="Mz" disabled [(ngModel)]="mzValue">
          </md-form-field>

          <md-slider
            class="slider"
            [(ngModel)]="currentChannelId"
            showTicks="true"
            disabled="{{disabledChanelIdSlider}}"
            min="0"
            max={{mzLength}}
            step="1"
            (input)="onInputChannelId($event)"
            (change)="onChangedChannelId($event)"
            vertical="false"
            thumb-label="true"
            tick-interval="true">
          </md-slider>
        </div>

        <app-spectrum
          [spectrumData]=spectrumData>
        </app-spectrum>
      </p-tabPanel>
      <p-tabPanel header="Heatmap" leftIcon="fa fa-thermometer (alias)" [headerStyle]="{'width': '165px', 'color': 'green'}">
        <app-heatmap
          [heatmapData]=heatmapData>
        </app-heatmap>
          <div class="column-item-position">
            <form>
              <md-select placeholder="Color" [(ngModel)]="selectedValue" name="color" (change)="changeColor()">
                <md-option *ngFor="let color of colors" [value]="color.value" selected="$first">
                  {{color.value}}
                </md-option>
              </md-select>
            </form>
            <md-form-field class="example-full-width">
              <input mdInput placeholder="Mz" disabled [(ngModel)]="mzValue">
            </md-form-field>

            <md-slider
              class="slider"
              [(ngModel)]="currentChannelId"
              disabled="{{disabledChanelIdSlider}}"
              showTicks="true"
              min="0"
              max={{mzLength}}
              step="1"
              (input)="onInputChannelId($event)"
              (change)="onChangedChannelId($event)"
              vertical="false"
              thumb-label="true"
              tick-interval="true">
            </md-slider>
          </div>
        </p-tabPanel>
      <p-tabPanel header="Spectrum" leftIcon="fa fa-bar-chart" [headerStyle]="{'width': '165px'}">
        <app-spectrum
          [spectrumData]=spectrumData>
        </app-spectrum>

        <div class="column-item-position">
          <md-form-field>
            <input mdInput #myInput placeholder="Spectrum number" type="text">
          </md-form-field>

          <button
            md-raised-button
            class="md-button"
            type="submit"
            (click) = 'selectSpectrum(myInput.value)'>
            Select
          </button>
        </div>
        </p-tabPanel>
      <p-tabPanel header="Divik" leftIcon="fa fa-sitemap" [headerStyle]="{'width': '165px'}">
        <app-divik></app-divik>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
</block-ui>



