div.preparation {
    width: 100%;
    margin: 10px;
    padding: 10px;
    color: #ffffff;
    background-color: #3399FF;
    border-radius: 20px;
    text-align: center;
    vertical-align: bottom;
    display: inline-grid;
}

@media only screen and (min-width: 800px) {
    div.preparation {
        width: 260px;
        height: 260px;
    }
}
