.fa-cogs{
  color: #F69736;
  margin-right: 10px;
}

mat-expansion-panel{
  width: 290px;
  padding: 5px;
}

.font-cont{
  font-size: 16px;
}

.spinner-cont{
  margin-left: 130px;
  margin-top: 10px;
}
