.fa-cogs{
  color: #F69736;
  margin-right: 10px;
}

.fa-sliders{
  color: #F69736;
  margin-right: 10px;
}

.exp-container{
  width: 300px;
}

.button-container{
  width: 252px;
  text-align: left;
}
