.mat-toolbar
{
  background: #231F20;
}

#header
{
  height: 60px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#list-button
{
height: 40px;
width: 40px;
background-color: #231F20;
border-color: #F69736;
margin-left: 20px;
}

#list-bootstrap-icon
{
color: #F69736;
}

.app-side-nav
{
background-color: #fafafa;
width: 300px;
-webkit-box-shadow: 4px 0px 16px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 0px 16px -1px rgba(0,0,0,0.75);
box-shadow: 4px 0px 16px -1px rgba(0,0,0,0.75);
}

.btn-default
{
width: 300px;
text-align: left;
font-size: medium;
}

.mat-drawer-container
{
background-color: #ffffff;
}

#logo-image
{
margin-left: 30px;
height: 50px;
}

.fa-list-ol
{
  color: #F69736;
  margin-right: 8px;
  margin-left: 6px;
}

.fa-home
{
  color: #F69736;
  margin-right: 8px;
  margin-left: 6px;
}
.fa-cloud-upload
{
  color: #F69736;
  margin-right: 8px;
  margin-left: 6px;
}

.fa-cogs{
  color: #F69736;
  margin-right: 10px;
}

.fa-sliders{
  color: #F69736;
  margin-right: 10px;
}

.exp-container{
  width: 300px;
}

.button-container{
  width: 252px;
  text-align: left;
}
