#header
{
background-color: #231F20;
height: 60px;
margin: 0px;
display: flex;
align-items: center;
justify-content: flex-start;
}

#list-button
{
height: 40px;
width: 40px;
background-color: #231F20;
border-color: #F69736;
margin-left: 20px;
}

#list-bootstrap-icon
{
color: #F69736;
}

.app-side-nav
{
background-color: #fafafa;
width: 200px;
-webkit-box-shadow: 4px 0px 16px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 0px 16px -1px rgba(0,0,0,0.75);
box-shadow: 4px 0px 16px -1px rgba(0,0,0,0.75);
}

.btn-default
{
width: 200px;
text-align: left;
font-size: medium;
}

.mat-drawer-container
{
background-color: #ffffff;
}

#logo-image
{
margin-left: 30px;
height: 50px;
}

.fa-list-ol
{
  color: #F69736;
}

.fa-home
{
  color: #F69736;
}
.fa-cloud-upload
{
  color: #F69736;
}
