
<mat-toolbar>
  <div id="header">
    <button
      id="list-button"
      (click) ="sidenav.toggle()"
      class="btn btn-info btn-sm">
      <span
        id="list-bootstrap-icon"
        class="glyphicon glyphicon-th-list">
      </span>
    </button>
    <a href="./"><img id="logo-image" src="../assets/images/logo.PNG"></a>
  </div>
</mat-toolbar>


<mat-sidenav-container>
  <mat-sidenav
    #sidenav mode="side"
    class="app-side-nav"
    [opened]="true">
    <mat-list>
      <div class="btn-group-vertical">
        <button mat-raised-button
          class="btn btn-default"
          mat-list-item routerLink="mainPage">
          <i
            class="fa fa-home"
            aria-hidden="true">
          </i> Main Page
        </button>
        <button mat-raised-button
          class="btn btn-default"
          mat-list-item routerLink="preparations">
          <i
            class="fa fa-list-ol"
            aria-hidden="true">
          </i> Preparations
        </button>
        <button mat-raised-button
          class="btn btn-default"
          mat-list-item routerLink="uploadDataset">
          <i
            class="fa fa-cloud-upload"
            aria-hidden="true">
          </i> Upload dataset
        </button>
        <!--<button mat-raised-button-->
          <!--class="btn btn-default"-->
          <!--mat-list-item routerLink="analysis">-->
          <!--<i-->
            <!--class="fa fa-cloud-upload"-->
            <!--aria-hidden="true">-->
          <!--</i> Analysis-->
        <!--</button>-->
        <!--<button mat-raised-button-->
          <!--class="btn btn-default"-->
          <!--mat-list-item routerLink="preprocessing">-->
          <!--<i-->
            <!--class="fa fa-cloud-upload"-->
            <!--aria-hidden="true">-->
          <!--</i> Preprocessing-->
        <!--</button>-->
        <!--<button mat-raised-button-->
          <!--class="btn btn-default"-->
          <!--mat-list-item routerLink="modelling">-->
          <!--<i-->
            <!--class="fa fa-cloud-upload"-->
            <!--aria-hidden="true">-->
          <!--</i> Modelling-->
        <!--</button>-->
        <app-algorithm-expansion-panel></app-algorithm-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <i
                  class="fa fa-cogs"
                  aria-hidden="true">
                </i>
                Preprocessing
              </mat-panel-title>
              <mat-panel-description>
                not available
              </mat-panel-description>
            </mat-expansion-panel-header>

          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <i
                  class="fa fa-cogs"
                  aria-hidden="true">
                </i>
                Modelling
              </mat-panel-title>
              <mat-panel-description>
                not available
              </mat-panel-description>
            </mat-expansion-panel-header>

          </mat-expansion-panel>
      </div>
    </mat-list>
  </mat-sidenav>

  <div class="app-content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>

