
<mat-toolbar>
  <div id="header">
    <button
      id="list-button"
      (click) ="sidenav.toggle()"
      class="btn btn-info btn-sm">
      <span
        id="list-bootstrap-icon"
        class="glyphicon glyphicon-th-list">
      </span>
    </button>
    <a href="./"><img id="logo-image" src="../assets/images/logo.PNG"></a>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav
    #sidenav mode="side"
    class="app-side-nav"
    [opened]="true">
    <mat-list>
      <div class="btn-group-vertical">
        <button mat-raised-button
          class="btn btn-default"
          mat-list-item routerLink="mainPage">
          <i
            class="fa fa-home"
            aria-hidden="true">
          </i> Main Page
        </button>
        <button mat-raised-button
          class="btn btn-default"
          mat-list-item routerLink="preparations">
          <i
            class="fa fa-list-ol"
            aria-hidden="true">
          </i> Preparations
        </button>
        <button mat-raised-button
          class="btn btn-default"
          mat-list-item routerLink="uploadDataset">
          <i
            class="fa fa-cloud-upload"
            aria-hidden="true">
          </i> Upload dataset
        </button>
        <app-analysis-types-list></app-analysis-types-list>
      </div>
    </mat-list>
  </mat-sidenav>

  <div class="app-content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>

