<div class="mainContainer">
  <div class="disclaimerText">Please refer to User Manual, before using reports. Analysis is provided as an aid and should not be treated as diagnosis.</div>
  <h2>See more:</h2>
  <a href="https://github.com/spectre-team/spectre">Spectre</a>

  <div class="imagineText">Sfinansowano w ramach realizacji projektu pozakonkursowego o charakterze koncepcyjnym pt. „Najlepsi z najlepszych! 2.0.” w ramach Programu Operacyjnego Wiedza Edukacja Rozwój współfinansowanego ze środków Europejskiego Funduszu Społecznego w ramach Osi priorytetowej III;
    Działania 3.3 pn. Wsparcie grupy „Spectre” w rywalizacji w konkursie Microsoft Imagine Cup – wdrożenie innowacyjnych rozwiązań przetwarzania danych biologii molekularnej.</div>
  <img id="logoEU" src="../../assets/images/logoEU.png">
</div>
