<div class="uploadContainer">
  <form (ngSubmit)="uploadData()" #uploadForm="ngForm">
    <div>
      <label class="labelStyle">
        Dataset link
        <input matInput
               type='text'
               size="50"
               required
               name="linkInput"
               [(ngModel)]="linkInput"
        />
      </label>
    </div>
    <div>
      <label>
        Dataset name
        <input matInput
               type='text'
               size="50"
               required
               name="nameInput"
               [(ngModel)]="nameInput"
        />
      </label>
    </div>
    <div>
      <button
        mat-raised-button
        class="mat-button"
        type="submit"
        [disabled]="uploadForm.form.invalid">
        Upload dataset
      </button>
    </div>
  </form>
  <div>{{message}}</div>
</div>
