
  <form (ngSubmit)="uploadData()" #uploadForm="ngForm">
    <div class="Container">
      <div class="row">
        <mat-form-field class="form-size">
          <input matInput
                 placeholder="Dataset link"
                 type="text"
                 name="linkInput"
                 [(ngModel)]="linkInput"
          />
        </mat-form-field>
      </div>
    <div class="row">
      <mat-form-field class="form-size">
        <input matInput
               placeholder="Dataset name"
               type="text"
               name="nameInput"
               [(ngModel)]="nameInput"
        />
      </mat-form-field>
    </div>
      <div class="row">
        <button
          mat-raised-button
          class="mat-button"
          type="submit"
          [disabled]="uploadForm.form.invalid">
          Upload dataset
        </button>
      </div>
    </div>
  </form>
  <div>{{message}}</div>
